<% if @recipe.errors.any? %>
  <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Ingredients for
          <%= f.text_field :servings, size: '2px' %> portions
        </h3>
      </div>
      <div class="panel-body">
        <%= render partial:  'ingredients' %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Directions with
          <%= f.text_field :total_time, size: '2px' %> minutes of total time
        </h3>
      </div>
      <div class="panel-body">
        <%= f.text_area :directions, {class: 'form-control', rows: 20} %>
      </div>
    </div>
  </div>

</div>