<table id="ingredients-table" class="table">
  <tr style="display:none;">
    <td width="65%"><input disabled name="ingredients[][name]" type="text" class="form-control" placeholder="Name"/></td>
    <td width="30%"><input disabled name="ingredients[][amount]" type="text" class="form-control" placeholder="Count" /></td>
    <td width="5%"><%= link_to image_tag("/Images/Ingredients/cancel2.png"), '#', {onclick: 'return delete_table_row(this);'} %></td>
  </tr>
    <% @recipe.recipes_ingredients.each do |recipes_ingredient| %>
      <tr>
        <td width="65%"><input name="ingredients[][name]" type="text" class="form-control" placeholder="Name" value="<%= recipes_ingredient.ingredient.name %>" /></td>
        <td width="30%"><input name="ingredients[][amount]" type="text" class="form-control" placeholder="Count" value="<%= recipes_ingredient.amount %>" /></td>
        <td width="5%"><%= link_to image_tag("/Images/Ingredients/trash2.png"), '#', {onclick: 'return delete_table_row(this);'} %></td>

      </tr>
    <% end %>

</table>
<%= link_to image_tag("/Images/Ingredients/add_row2.png"), '#', {onclick: 'return add_table_row(this);', data: { table: '#ingredients-table' }} %>

<script>
  function add_table_row(sender) {
    var table = $($(sender).data('table'));
    var tr = table.find('tr:hidden').clone();
    tr.appendTo(table);
    tr.show();
    tr.find('input:disabled').removeAttr('disabled');
    return false;
  }

  function delete_table_row(sender) {
    $(sender).parent().parent().remove();
    return false;
  }
</script>