<%= stylesheet_link_tag 'ingredients_typeahead' %>
<%= javascript_include_tag 'typeahead.js/typeahead.bundle.min' %>
<%= javascript_include_tag 'typeahead.js/bloodhound.min' %>
<%= javascript_include_tag 'ingredients_typeahead' %>

<table id="ingredients-table" class="table">
  <%= render partial: 'ingredients_row', locals: { hidden: true } %>
  <% 3.times do %>
    <%= render partial: 'ingredients_row' %>
  <% end if @recipe.new_record? %>
  <% @recipe.recipes_ingredients.each do |ingredient| %>
    <%= render partial: 'ingredients_row', locals: { ingredient: ingredient } %>
  <% end %>
</table>
<%= link_to image_tag("/Images/Ingredients/add_row.png"), '#', {id: 'new_ingredient_button', onclick: 'return add_table_row(this);', onkeyup: 'auto_add_table_row(this, event);', data: { table: '#ingredients-table' }} %>
