<p>
Ingredients
<table id="ingredients-table">
  <tr style="display:none;">
    <td><input disabled name="ingredients[][name]" type="text" size="30" /></td>
    <td><input disabled name="ingredients[][amount]" type="text" size="10" /></td>
    <td><%= link_to 'Delete', '#', onclick: 'return delete_table_row(this);' %></td>
  </tr>
    <% @recipe.recipes_ingredients.each do |recipes_ingredient| %>
      <tr>
        <td><input name="ingredients[][name]" type="text" size="30" value="<%= recipes_ingredient.ingredient.name %>" /></td>
        <td><input name="ingredients[][amount]" type="text" size="10" value="<%= recipes_ingredient.amount %>" /></td>
        <td><%= link_to 'Delete', '#', onclick: 'return delete_table_row(this);' %></td>
      </tr>
    <% end %>

</table>
<%= link_to 'Add', '#', onclick: 'return add_table_row(this);', data: { table: '#ingredients-table' } %>

</p>

<script>
  function add_table_row(sender) {
    var table = $($(sender).data('table'));
    var tr = table.find('tr:hidden').clone();
    tr.appendTo(table);
    tr.show();
    tr.find('input:disabled').removeAttr('disabled');
    return false;
  }

  function delete_table_row(sender) {
    $(sender).parent().parent().remove();
    return false;
  }
</script>