<h1>Editing recipe <%= @recipe.name %> </h1>

<%= form_for @recipe, url: {action: 'update'} do |f| %>
  <%= render partial:  'form', locals: {f: f} %>

  <%= f.submit 'Save' %>
  <%= link_to 'Back', action: 'show', id: @recipe.id  %>
<% end %>

<p>

</p>