<%= form_for @recipe, url: {action: 'update'} do |f| %>

  <div class="row">

    <div class="col-md-10">
      <h1>
        <%= f.text_field :name, {class: 'form-control input-lg'} %>
      </h1>
    </div>

    <div class="col-md-2">
      <h1 class="btn-right">
        <%= link_to 'Cancel', {id: @recipe.id, action: 'show'}, {class: 'btn btn-warning btn-lg'} %>
      </h1>
    </div>

  </div>

  <%= render partial:  'form', locals: {f: f} %>
  <p>
    <%= f.submit 'Save', {class: 'btn btn-success btn-lg'} %>
  </p>
<% end %>
