<div class="row">

  <div class="col-md-8">
    <h1>
      <%= @recipe.name %>
    </h1>
  </div>

  <div class="col-md-4">
    <h1 class="btn-right">
      <%= link_to 'Delete', {action: 'destroy', id: @recipe.id}, {class: 'btn btn-danger btn-lg no-print', method: :delete, data: {confirm: 'Are you sure?'}} %>
      <%= link_to 'Edit', {id: @recipe.id, action: 'edit'}, {class: 'btn btn-primary btn-lg no-print'} %>
      <%= link_to 'Back', {action: 'index'}, {class: 'btn btn-default btn-lg no-print'} %>
    </h1>
  </div>

</div>

<div class="row">

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Ingredients
          <span class="label label-default"><%= @recipe.servings %> portions</span>
        </h3>
      </div>
      <div class="panel-body">
        <% @recipe.recipes_ingredients.each do |recipes_ingredient| %>
          <%= recipes_ingredient.ingredient.name %> - <i><%= recipes_ingredient.amount %></i>;<br>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Directions
          <span class="label label-default"><%= @recipe.total_time %> minutes</span>
        </h3>
      </div>
      <div class="panel-body">
        <%= @recipe.directions.html_safe %>
      </div>
    </div>
  </div>

</div>

<div>
  <%= link_to 'Back', {action: 'index'}, {class: 'btn btn-default btn-lg no-print'} %>
  <%= link_to 'Edit', {id: @recipe.id, action: 'edit'}, {class: 'btn btn-primary btn-lg no-print'} %>
  <%= link_to 'Delete', {action: 'destroy', id: @recipe.id}, {class: 'btn btn-danger btn-lg no-print', method: :delete, data: {confirm: 'Are you sure?'}} %>
  <%= link_to image_tag("/Images/printer-sm.png"), '#', {onclick: 'window.print();return false;', class: 'btn-right no-print'} %>
</div>